:root {
  background-color: rgb(33, 43, 73)
}

body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: rgb(64, 61, 102);
  display: flex;
  place-items: center;
  min-height: 100px;
  line-height: 1.5;
}

table {
  background-color: black;
  justify-content: center;
  width: 300px;
}